body {
    margin-top: 15px;
}

a.btn, h1 {
    text-align: center;
}

a.btn:last-child, canvas, body {
    margin-bottom: 15px;
}

a.btn {
    border-bottom-width: 0;
    border-radius: 0;
    width: 100%
}

a.btn:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

a.btn:last-child {
    border-bottom-width: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

pre {
    text-align: left;
}

footer {
    text-align: center;
}

.github-fork-ribbon:before {
    background-color: #090;
}

.github-fork-ribbon.no-box-sizing:before,
.github-fork-ribbon.no-box-sizing:after {
    box-sizing: content-box;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background: black;
  }
  code, pre {
    color: #ccc;
    background: #222;
  }
  a {
    color: #5bf;
  }
  a:hover,
  a:hover div {
    color: black;
    background-color: #5bf;
    outline: 0.05em solid #5bf;
  }
  .btn-default {
    color: #ccc;
    background: black;
    border-color: #222;
  }
  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn-default.active,
  .open.dropdown-toggle.btn-default {
    color: #ccc;
    background: #222;
    border-color: #333;
  }
}
