name: Test

on: [push, pull_request, workflow_dispatch]

permissions: {}

env:
  FORCE_COLOR: 1
  PIP_DISABLE_PIP_VERSION_CHECK: 1

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["pypy3.11", "3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
          cache: pip
          cache-dependency-path: |
            .github/workflows/test.yml
            requirements.txt

      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: ".github/workflows/test.yml"

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U wheel
          python -m pip install -Ur requirements.txt --prefer-binary
          npm install svgexport

      - name: Unit tests
        run: |
          python test_utils.py

      - name: Test run
        run: |
          ./build.sh

      - name: History charts
        run: |
          git config remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
          git fetch origin
          python history_get.py -n 10
          python history_plot.py
